* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
	background-image: url("images/bg.jpg");
	background-repeat: repeat;
	background-size: auto, 100% 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #ffffff;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	font-weight: 100;
	line-height: 200px;
	text-align: center;
}

footer {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	font-size: 12px;
	opacity: 0.5;
	line-height: 50px;
	text-align: center;
}

.navigation ul {
    list-style:none;
    line-height: 50px;
    min-width: 500px;
    color: #1FC4FA;
    font-size:20px;
    text-align: center;
}

.navigation ul li {
    display:inline;
    position: relative; 
    padding:5px;
    margin:5px;
 
}
.navigation ul li a{
    color:  #ffffff;
    opacity: 0.5;  
}
.navigation ul li a:hover {
    opacity: 1;
    -webkit-transition:0.25s ease-out;
}

.navigation ul li a.selected { 
    opacity: 1;
}

.container{
    margin: 0 auto;
    width: 70%;
    min-width: 600px;
    max-width: 800px;
    height: 300px;
    background: rgba(255, 255, 255, 0.4) ;
/*    background-image: url("images/blurred-home-bg.jpg");
	background-repeat: repeat;
	background-size: auto, 100% 60%;
  opacity: 0.6;*/
}

.container table{
    
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px; 
/*    width: 450px;*/
/*    min-width: 300px;
    max-width: 500px;*/
}

.container table tr{
    /*line-height: 40px;*/ 
    font-family: 'Ubuntu', sans-serif;
    font-size:  18px;
/*    width: 100%;*/
}

.container table tr td select{
    /*line-height: 40px;*/
    padding:5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 5px;
    font-family:  'Ubuntu', sans-serif;
    font-size:  18px;
    width: 90%;
}
.container table  tr td  input{
    /*ine-height: 40px;*/
    padding:10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family:  'Ubuntu', sans-serif;
    font-size:  20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4) ;
}




