<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Unit Convertor</title>
	</head>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="./jquery-1.3.2.min.js"></script>
    <script src="./angular.min.js"></script>
    <script src="./angular-route.min.js"></script>
  	</head>
	<body ng-app="UnitConvertorApp">
		<h1><strong>Unit</strong> Convertor</h1>
	    <div ng-controller="IndexCtrl" class="navigation">
	    	<ul>
				<li  ng-repeat="UnitType in UnitTypes" >
				<a  id="link-{{UnitType}}" href="#/{{UnitType}}" ng-click="changeUnit(UnitType)">{{UnitType}}</a>
				</li>
	    	</ul>
	    </div>
		<div ng-view>
		</div>
    	<script src="./unitConvertor.js"></script>
  	</body>
  	<footer>
  		©2015 Yiwen Shi. All rights reserved.
  	</footer>
</html>