<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Unit Converter</title>
	</head>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="./js/jquery-1.3.2.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-route.min.js"></script>
    <script type="text/javascript" src="https://jira.nov.com/s/9e6207897e049e1e301eb80d613b8172-T/en_USxm8bws/71010/4c9339008042d3c77aa255f56856528f/2.0.14/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=4f13d2be"></script>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-83010174-1', 'auto');
	  ga('send', 'pageview');

	</script>
  	</head>
	<body ng-app="UnitConverterApp">
		<h1><strong>Unit</strong> Converter</h1>
	    <nav ng-controller="IndexCtrl">
	    	<ul>
				<li  ng-repeat="UnitType in UnitTypes" >
				<a  id="link-{{UnitType}}" href="#/{{UnitType}}" ng-click="changeUnit(UnitType)">{{UnitType}}</a>
				</li>
	    	</ul>
	    </nav>
		<div ng-view>
		</div>
    	<script src="./js/unitConverter.js"></script>
  	</body>
  	<footer>
  		©2015 Yiwen Shi. All rights reserved.
  	</footer>
</html>